container_commands:   01_syncdb:    
    command: "admin.py syncdb --noinput"
    leader_only: true

option_settings:
    - namespace: aws:elasticbeanstalk:container:python
      option_name: WSGIPath
      value: internmatch/wsgi.py
    - option_name: DJANGO_SETTINGS_MODULE
      value: internmatch.settings


