container_commands:   01_syncdb:    
    command: "admin.py syncdb --noinput"
    leader_only: true

option_settings:
    - namespace: aws:elasticbeanstalk:container:python
      option_name: WSGIPath
      value: internmatch/wsgi.py
    - option_name: DJANGO_SETTINGS_MODULE
      value: internmatch.settings
    - option_name: AWS_SECRET_KEY
      value: bycwa9pCM1AbT15naBIIcNKi47Rg3pF6BHxGbePn
    - option_name: AWS_ACCESS_KEY_ID
      value: AKIAIZCBO67O2ADIOE3Q

