{% extends "student_homepage.html" %}

{% block content %}
<div id="apply">
	<h2>Apply for {{job.title}} | Work Culture Match: {{job.survey_match}}% | Skills Matched: {{job.skills_match}}</h2>
	<a href="/internmatch/student/view_employer/{{job.EmpUsername}}"><h3>{{job.employer}}</h3></a>
	<p>{{job.city}}, {{job.state}} {{job.zip}}</p>
	<p>Start date: {{job.date}}</p>
	<p>{% if job.paid %}Paid{% else %}Unpaid{% endif %} | {% if job.fulltime %}Full-time{%else%}Part-time{%endif%}{% if job.longterm %} | Long-term opportunity{% endif %}</p>
	<form id="apply_form" class="readbox" action="/internmatch/student/apply/{{job.Username}}/{{job.survey_match}}/{{job.skills_match}}/" method="POST" enctype="multipart/form-data">
	{% csrf_token %}
		<div class="flex vert">
		<div>
			<label for="resume_list">Select resume:</label>
			<select id="resume_list" name="resume_list" value="">
				<option value=""></option>
				{% for resume in student.resumes %}
					<option value="{{resume}}">{{resume}}</option>
				{% endfor %}
			</select>
			<br/>
			<fieldset>
				<input type="hidden" id="MAX_FILE_SIZE" name="MAX_FILE_SIZE" value="300000" />
				
				<div>
					<label for="resume">Or upload a new one:</label>
					<input type="file" class="fileselect" name="resume" id="resume"/>
				</div>
			</fieldset>
		</div>
		<br>
		<div>
			<label for="cl_list">Select cover letter:</label>
			<select id="cl_list" name="cl_list" value="">
				<option value=""></option>
				{% for cl in student.cover_letters %}
					<option value="{{cl}}">{{cl}}</option>
				{% endfor %}
			</select>
			<br/>
			<fieldset>
				<input type="hidden" id="MAX_FILE_SIZECL" name="MAX_FILE_SIZE" value="300000" />
				
				<div>
					<label for="cl">Or upload a new one:</label>
					<input type="file" class="fileselect" name="cl" id="cl"/>
				</div>
			</fieldset>
			</div>
		</div>
			<br>
			<div id="submitbutton">
				<input id="button_apply" type="submit" value="Apply"/>
				<a href="/internmatch/student/favorites/"><input id="cancel" type="button" value="Cancel"/></a>
			</div>
	</form>
</div>
{% endblock %}