<div id="skills{% if read %}_locked{% else %}_draggable{% endif %}">
	<div>
	{% if not read %}<p>Choose skills from here:</p>{% endif %}
		<ul id="baseList" class="{% if read %}locked{% else %}draggable{% endif %}">
		    {% for skill in skills %}
		    <li id="{{ forloop.counter }}">{{ skill }}</li>
		    {% endfor %}
		</ul>
	</div>
	{% if not read %}
	<div>
		<p>Add skills here:</p>
		<ul id="myList" class="{% if read %}locked{% else %}draggable{% endif %}"></ul>
	</div>
	{% endif %}
</div>

