<div id="skills{% if read %}_locked{% else %}_draggable{% endif %}">
	<div>
	{% if not read %}<p style="margin-left:7px">Choose skills from here:</p>{% endif %}
		<ul id="baseList" class="{% if read %}locked{% else %}draggable flex{% endif %}">
		    {% for skill in skills %}
		    <li id="{{ forloop.counter }}">{{ skill }}</li>
		    {% endfor %}

		    {%if skills == None%}
		    	You have not finished your skills, please go to
		    	<a href="/internmatch/student/skills/">Skills page</a>
		    	to complete.
		    {%endif%}
		</ul>
	</div>
	{% if not read %}
	<div>
		<p style="margin-left:7px">Add skills here:</p>
		<ul id="myList" class="{% if read %}locked{% else %}draggable{% endif %}"></ul>
	</div>
	{% endif %}
</div>

