{% extends "student_homepage.html" %}

{% block content %}

<form id="upload" action="/internmatch/student/doc_upload" method="POST" enctype="multipart/form-data">

<fieldset>
<legend>Upload Resume and Cover Letter:</legend>
<div class="flex">
	<input type="hidden" id="MAX_FILE_SIZE" name="MAX_FILE_SIZE" value="300000" />
	
	<div>
		<label for="fileselect">Resume to upload:</label>
		<input type="file" class="fileselect" name="resumeselect[]" multiple="multiple" />
		<div class="filedrag">or drop resume here</div>
	</div>
	
	<input type="hidden" id="MAX_FILE_SIZE" name="MAX_FILE_SIZE" value="300000" />
	
	<div>
		<label for="fileselect">Cover letter to upload:</label>
		<input type="file" class="fileselect" name="clselect[]" multiple="multiple" />
		<div class="filedrag">or drop cover letter here</div>
	</div>
</div>
<div id="submitbutton">
	<button type="submit">Upload Files</button>
</div>

</fieldset>

</form>



{% endblock %}