{% extends "employer_homepage.html" %}
{% block content %}
<div id="view_applicants">
	<div id="results">
		<div class="pagination">
		    <span class="step-links">
		    		<a href="/internmatch/employer/view_postings/">Back to postings</a> | 
		        {% if results.has_previous %}
		            <a href="?page={{ results.previous_page_number }}">previous</a>
		        {% endif %}
		
		        <span class="current">
		            Page {{ results.number }} of {{ results.paginator.num_pages }}
		        </span>
		
		        {% if results.has_next %}
		            <a href="?page={{ results.next_page_number }}">next</a>
		        {% endif %}
		    </span>
		</div>
		<h2>{{name}} Applicants</h2>
		{% for result in results %}
			<div class="result">
				<a href="/internmatch/employer/view_student/{{result.student}}/{{job}}/">
					<h3>{{result.fname}} {{result.lname}}</h3>
					<p>{{result.city}}, {{result.state}}</p>
					<h4>Work Culture Match: {{result.survey_match}}% | Skill Match: {{result.skills_match}}</h4>
				</a>
				<a href="/internmatch/employer/remove/{{result.student}}/{{job}}/"><input type="button" class="delete" value="Dismiss"/></a>
			</div>
		{% empty %}
			<h3>There are no applicants for this internship at this time.</h3>
		{% endfor %}
		<div class="pagination">
		    <span class="step-links">
		    		<a href="/internmatch/employer/view_postings/">Back to postings</a> | 
		        
		        {% if results.has_previous %}
		            <a href="?page={{ results.previous_page_number }}">previous</a>
		        {% endif %}
		
		        <span class="current">
		            Page {{ results.number }} of {{ results.paginator.num_pages }}
		        </span>
		
		        {% if results.has_next %}
		            <a href="?page={{ results.next_page_number }}">next</a>
		        {% endif %}
		    </span>
		</div>
	</div>
</div>
{% endblock %}