{% block content %}
	<div id="contact_info">
		{% if account.city == '' or account.fname == '' or account.lname == '' or account.email == '' or account.city == '' or account.state == ''%}
			Personal Information has not been finished. Please go to
			<a href="/internmatch/student/contact_info/">Contact Info</a> to finish.
		{%else%}
		<h2>{% if kind == "student" %}
				{{account.fname}} {{account.lname}}
			{% else %}
				{{account.name}}
			{%endif%}</h2>
		<h3><a href="mailto:{{ account.email }}">{{ account.email }}</a></h3>

		
		<p>{{account.city}}, {{account.state}}</p>
		{%endif%}
		
		<div class="flex">
			<div id="work">
				<h3>Work Culture Views:</h3>
				{% include "survey.html" with attitudes=account.survey read=True %}
				{% if not me %}
					<h4>{{account.survey_match}}% Match</h4>
				{%endif%}
			</div>
			{% if kind == "student" %}
				<div>
					<h3>Skills:</h3>
					{% include "skills.html" with skills=account.skills read=True %}
	
					{% if not me %}
						<h4>{{account.skills_match}}% Match</h4>
					{%endif%}
				</div>
			</div>
				{% if not me %}
					{% if resume %}
						<a href="/internmatch/download/{{account.student}}/{{resume}}/"><input type="button" id="resume" value="View Resume"/></a>
					{% endif %} 
					{% if cl %}
						<a href="/internmatch/download/{{account.student}}/{{cl}}/"><input type="button" id="cl" value="View Cover Letter"/></a>
					{% endif %}
				{%endif%}
			{% else %}
				</div>
				{% if not me %}
					<a href="/internmatch/student/view_employer_postings/{{account.employer}}/"><input type="button" id="internships" value="View Internships"/></a>
				{%endif%}
			{%endif%}
		{% if not me %}
			<a href="mailto:{{ account.email }}"><input type="button" id="contact" value="Contact"/></a>
			{% if kind == "student" %}
				<a href="/internmatch/employer/remove/{{account.student}}/{{job}}/"><input type="button" id="dismiss" value="Dismiss"/></a>
			{%endif%}
		{%endif%}
	</div>
{% endblock %}