{% extends "student_homepage.html" %}

{% block content %}
	<div id="view_job">
		<a href="/internmatch/student/intern_search/">New search</a>
		<h2>{{job.Title}}</h2>
		<a href="/internmatch/student/view_employer/{{job.EmpUsername}}"><h3>{{employer}}</h3></a>
		<p>{{job.City}}, {{job.State}} {{job.Zip}}</p>
		<p>Start date: {{job.start_date}}</p>
		<p>{% if job.Pay == "paid" %}Paid{% else %}Unpaid{% endif %} | {% if job.Fulltime == "fulltime" %}Full-time{%else%}Part-time{%endif%}{% if job.Longterm == "longterm" %} | Long-term opportunity{% endif %}</p>
		<div class="flex">
			<div class="flex vert readbox" id="work">
				<h3>Work Culture Views:</h3>
				{% include "survey.html" with attitudes=job.survey read=True %}
				<p>{{job.survey_match}}% Match</p>
			</div>
			<div class="flex vert readbox" id="skills">
				<h3>Skills:</h3>			
				{% include "skills.html" with skills=job.skills read=True %}</td>
				<p>{{job.skills_match}} Skills Matched</p>
			</div>
		</div>
		<h3>Description</h3>
		<p class="readbox">{{job.Description}}</p>
		<a href="/internmatch/student/view_employer/{{job.EmpUsername}}"><input type="button" id="employer" value="View Employer Profile"/></a>
		{% if applied %}
			Already Applied
		{% else %}
			<a href="/internmatch/student/apply/{{job.Username}}/{{job.survey_match}}/{{job.skills_match}}"><input type="button" id="apply" value="Apply for Internship"/></a>
		{% endif %}
		{% if saved %}
			<a href="/internmatch/student/delete/{{job.Username}}"><input type="button" id="delete" value="Remove Internship"/></a>
		{% else %}
			<a href="/internmatch/student/save/{{job.Username}}"><input type="button" id="save" value="Save Internship"/></a>
		{% endif %}
		<br>
		<a href="/internmatch/student/intern_search/">New search</a>
	</div>
{% endblock %}