{% block content %}
	<div id="contact_info">
		{% if account.city == '' or account.fname == '' or account.lname == '' or account.email == '' or account.city == '' or account.state == ''%}
			Personal Information has not been finished. Please go to
			<a href="/internmatch/student/contact_info/">Contact Info</a> to finish.
		{%else%}
		<h2>{% if kind == "student" %}
				{{account.fname}} {{account.lname}}
			{% else %}
				{{account.name}}
			{%endif%}</h2>
		<h3><a href="mailto:{{ account.email }}">{{ account.email }}</a></h3>

		
		<p>{{account.city}}, {{account.state}}</p>
		{%endif%}
		
		<div class="flex">
			<div class="readbox" id="work">
				<h3>Work Culture Views:</h3>
				{% include "survey.html" with attitudes=account.survey read=True %}
				{% if not me %}
					<p>{{account.survey_match}}% Match</p>
				{%endif%}
			</div>
			{% if kind == "student" %}
				<div class="readbox" id="skills">
					<h3>Skills:</h3>
					{% include "skills.html" with skills=account.skills read=True %}
	
					{% if not me %}
						<p>{{account.skills_match}} Skills Match</p>
					{%endif%}
				</div>
			<div class="readbox" id="references">
				<h3>References:</h3>
				{% if not me %}
				<table>
				{% for r in refs %}
					{% if r.Verify %}
					<tr><td class="readbox pad">
					<table>
						<tr><td><p>Name:</p></td><td colspan=3><p>{{r.Fname}} {{r.Lname}}</p></td>
						<tr><td><b>Email:</b></td><td colspan=3><a href="mailto:{{r.Email}}">{{r.Email}}</a></td></tr>
						<tr><td><b>Relation:</b></td><td>{{r.Relation}}</td></tr>
					</table>
					</td></tr>
					{% endif %}
				{% empty %}
					<p>No References</p>
				{% endfor %}
				</table>
				{% else %}
				<table>
				{% for r in refs %}
					<tr><td class="readbox pad">
					<table id="{{ forloop.counter }}">
					    <tr><td><p>Name:</p><td colspan=4><p>{{ r.Fname }} {{ r.Lname }}</p></td></tr>
					    <tr><td><b>Email:</b></td><td colspan=4><a href="mailto:{{ r.Email}}">{{ r.Email}}</a></td></tr>
					    <tr><td><b>Relation:</b></td><td>{{ r.Relation }}</td><td><b>Verified:</b></td>
					    <td>{% if r.Verify %}Yes{% else %}No{% endif %}</td>
					    <td><a href="/internmatch/reference/{{r.transactionref}}/delete/"><input type="button" value="Remove"/></a></td>
					    </tr>
				    </table>
				    </td></tr>
				{% empty %}
					<p>No References. Click <a href="/internmatch/student/add_ref/">here</a> to add some</p>
				{% endfor %}
				</table>
				{% endif %}
			</div>
			</div>
				{% if not me %}
					{% if resume %}
						<a href="/internmatch/download/{{account.student}}/{{resume}}/"><input type="button" id="resume" value="View Resume"/></a>
					{% endif %} 
					{% if cl %}
						<a href="/internmatch/download/{{account.student}}/{{cl}}/"><input type="button" id="cl" value="View Cover Letter"/></a>
					{% endif %}
				{%endif%}
			{% else %}
				</div>
				{% if not me %}
					<a href="/internmatch/student/view_employer_postings/{{account.employer}}/"><input type="button" id="internships" value="View Internships"/></a>
				{%endif%}
			{%endif%}
		{% if not me %}
			<a href="mailto:{{ account.email }}"><input type="button" id="contact" value="Contact"/></a>
			{% if kind == "student" %}
				<a href="/internmatch/employer/remove/{{account.student}}/{{job}}/"><input type="button" id="dismiss" value="Dismiss"/></a>
			{%endif%}
		{%endif%}
	</div>
{% endblock %}